.navBar {
    background-color: #440000;
}
.navBarContainer {
    width: 80%;
    margin: 0 auto;
}
.logo {
    width: 250px;
}
.logoAndTextNavbar {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}
.linkNavbarContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}
.linkNavbar {
    color: white;
    text-decoration: none;
}





